<div class="container" appColor>
  <h2>(Parent: <span style="color:white;">Default CD</span>) <br /> value: {{count()}} runs: {{getChecked()}}</h2>

  <div class="children">
    <div>
      <label style="display: inline-block; margin-bottom: 10px;"><b style="color: white">Global</b> Change Detection
        Mode</label>

      <app-child-x />
    </div>

    <div>
      <label style="display: inline-block; margin-bottom: 10px;"><b style="color: white">Targeted</b> Change Detection
        Mode</label>

      <app-child-y />
    </div>
  </div>
</div>