/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: grid;
	place-content: center;
	background-color: rgb(15 23 42);
	color: white;
}

button {
	padding: 10px 15px;
  border-radius: 3px;
  background: yellow;
  border: 1px solid yellow;
  margin-bottom: 1rem;
	display: block;
}